body {
      background-color: rgb(225, 255, 190);
    }
    
    p {
      margin: 0;
      line-height: 1;
    }
    
    .heading {
      font-family: Courier New;
      font-size: 20px;
      margin-left: 20px;
      display: inline-block;   
      padding: 5px 10px;
    }
    
    .paragraph {
      font-family: Courier New;
      font-size: 20px;
      margin-left: 20px;
      margin-bottom: 10px;
      padding-left: 10px;
    }

    .dashes {
      font-family: Courier New; 
      margin: 20px; 
    }

    .heading:hover {
      background-color: rgb(147, 165, 126);;
    }